@model IEnumerable<ProjectInfoEfCore.Models.Projects>

@{ 
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Executable Name</th>
            <th>Project Folder</th>
            <th>Parent Folder</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.ProjectsId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExeName32)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectFolder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectParentFolder)
                </td>
            </tr>

        }
    </table>
</div>